
.sele{
    max-width: 1366px;
    position: relative;
    align-items: center;
    margin: auto;
    padding-bottom: 20px;
}

.events-Gridr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    max-width: 1366px;
    position: relative;
    align-items: center;
    margin: auto;
    padding-bottom: 20px;
}


.EventContainerr{
    height: 260px;
    width:310px;
    background-color: #DDE5E3;
    padding: 10px;
    position: relative;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.31)
 
}
.coverr{

    display: flex;
justify-content: center;
}

.coverr img{
    height: 150px;
    width: 300px;
    background-color: black;
    object-fit: cover;
}

.eventDescriptionr{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 90px;
    line-height: 8px;
}

.textr{
    margin:auto;
    margin-left: 10px;
}

.Titler{
    font-size: 15px;
}

.Dater{
    font-size: 15px;
}

.Locationr{
    font-size: 14px;
}

.calr{

    text-align: center;
    background-color: #ffc21c;
    
}
.calr h1{
    font-size: 32px;
    
}



.add_event button{
    background-color: rgb(25, 118, 210);
    color: white;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.25s;
    padding: 10px 15px;  
    border: none; 
    cursor: pointer;

}

.add_event button:hover{
    background-color: rgb(65, 235, 65);
    color:black;
    opacity: .8;
}







.icon {
    position: absolute;
    right: 10px;
}
.more_icon{
    height: 30px;
    object-fit: cover;
    display: block;

}
.icon a img:hover {
    background-color: #ddd;
  }

.icon_option{
    position: absolute;
    box-shadow: 0px 0px 5px rgba(0,0,0,1);
    right: -65px;
    background-color: #ffffff;
    display: none;
}

.icon_option a{
    display: block;
    margin-top: 10px;
    font-size: 18px;
    text-shadow:none;
    padding: 0 20 5 5;
    text-decoration: none;
    color: black;
    
}
.icon_option input{
    padding: 0 20 5 5;
    font-size: 18px;
    text-decoration: none;
    color: black;
    
}

.icon_option a:hover {
    background-color: #bebcbc;
  }

